<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.EmployeeMapper">
    <select id="selectAllEmployee" resultType="tws.entity.Employee">
        select * from `employee`
    </select>

    <select id="selectEmployeeByKeyWord" resultType="tws.entity.Employee">
        select * from `employee`
        <if test="keyWord!=null">
            <bind name="pattern" value="'%'+keyWord+'%'"></bind>
            <where>
                `name` like #{pattern}
            </where>
        </if>
    </select>

    <select id="selectAll" resultType="tws.entity.Employee">
        select * from `employee`
        <if test="#{page} !=null and #{pageSize} != null">
            OFFSET ((#{page}-1)*#{pageSize})   ROWS FETCH NEXT #{pageSize} ROWS ONLY;
        </if>
    </select>
    <select id="selectOneEmployee" resultType="tws.entity.Employee">
        select * from `employee`
        <where>
            id=#{employeeID}
        </where>
    </select>
    <insert id="addEmployee" parameterType="tws.entity.Employee">
        insert into `employee` (`id`,`name`,`age`) values (#{employee.id},#{employee.name},#{employee.age})
    </insert>

    <update id="updateEmployee">
        update `employee` set name = #{employee.name},age = #{employee.age}
        where id = #{employeeID}
    </update>

    <delete id="deleteEmployee">
        delete from `employee` where id=#{employeeID}
    </delete>
</mapper>
